<svg width="508" height="173" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <foreignObject width="508" height="173">
        <div xmlns="http://www.w3.org/1999/xhtml" class="container">
            <style>
                /* Setting font for all text */
                div {
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
                }

                /* Text saying "Vibed to" or "Recently vibed to" */
	            .currentStatus {
	                display: block;
	                position: static;
	                margin: 0px 0px 5px 10px;
                    font-size: 20px;
                    color: #a4acba;
                }

				/* container for song info */
                .songcontainer {
                    display: flex;
                    height: 139px;
                    width: 508px;
                    border-radius: 10px;
                    background-color: #131313;
                }

				/* container for Cover-image */
                .art {
                    float: left;
                    height: 135px;
                    width: 135px;
                    border-radius: 10px;
                    overflow: hidden;
                    border: 2px solid #21AF43;
                }

                .cover {
                    height: 100%;
                    width: 100%;
                }

				/* container for songname and artist */
                .content {
                    width: 351px;
                    padding: 5px;
                }

				/*TODO: Make overflowing text scroll?*/
                .song {
                    padding: 0 27px 0 27px;
                    margin-top: 25px;
                    text-align: center;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 26px;
                    color: #666;
                }

                .artist {
                    margin-top: 3px;
                    text-align: center;
                    font-size: 14px;
                    color: #b3b3b3;
                }

				/* container for the animated bars */
                #bars {
                    position: absolute;
                    margin-top: 3px;
                    height: 57px;
                }
                                                                            /* Animated Bars */
				/* highfrequencises */
                .highBar {
                    {{barLayout}}
                    animation: highsound 0ms -800ms linear infinite alternate;
                }
                /* adjustment of animation at different points */
                @keyframes highsound {
                    0% {
                        height: 10px;
                        opacity: 0.25;
                    }
                    85% {
                        height: 38px;
                        opacity: 0.30;
                    }
                    100% {
                        height: 45px;
                        opacity: 0.99;
                    }
                }

                /* mediumfrequencises */
                .mediumBar {
                    {{barLayout}}
                    animation: mediumsound 0ms -800ms linear infinite alternate;
                }
                @keyframes mediumsound {
                    0% {
                        height: 20px;
                        opacity: 0.35;
                    }
                    20% {
                        height: 32px;
                        opacity: 0.45;
                    }
                    40% {
                        height: 15px;
                        opacity: 0.35;
                    }
                    80% {
                        height: 30px;
                        opacity: 0.75;
                    }
                    100% {
                        height: 45px;
                        opacity: 0.99;
                    }
                }

                /* Base */
                .baseBar {
                    {{barLayout}}
                    animation: basesound 0ms -800ms linear infinite alternate;
                }
                @keyframes basesound {
                    0% {
                        height: 15px;
                        opacity: 0.35;
                    }
                    20% {
                        height: 7px;
                        opacity: 0.50;
                    }
                    40% {
                        height: 10px;
                        opacity: 0.35;
                    }
                    80% {
                        height: 8px;
                        opacity: 0.50;
                    }
                    100% {
                        height: 40px;
                        opacity: 0.55;
                    }
                }
                {{barCSS|safe}}
            </style>

            <div class="main">
	            <div class="currentStatus">{{status}}</div>
	            <div class="songcontainer">
	                <a class="art" href="{{trackLink}}" target="_blank">
	                    <img title="Go to album" src="data:image/png;base64, {{image}}" class="cover" />
	                </a>
	                <div class="content">
	                    <div class="song">{{songName}}</div>
	                    <div class="artist">{{artistName}}</div>
	                    <div id="bars">{{animatedBars|safe}}</div>
	                </div>
	            </div>
            </div>
        </div>
    </foreignObject>
</svg>